<!--
(C) Wuviems On Github

MIT LICENSE

READ MORE AT: https://github.com/wuviems/wuviems/blob/main/LICENSE
 -->

<!DOCTYPE html>
<html>
<title>Dead End!</title>
    <link rel="icon" href="https://grimydroopyspof.itzhai27.repl.co/logo.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="css/daend.css">

<div class="diText">
<body bgcolor="#FFFFFF"> </body> <h2 class="text">ERROR: 404 NOT FOUND</h2>
<p class="text">Sorry, we can't find your request. Want some cookies?</p>
<div class="text-center">
  <button style="text-align:center;" class="button button1" onclick="window.location.href='javascript:history.back()';">Back</button> <button style="text-align:center;" class="button button1" onclick="window.location.href='/';">Home</button>
</div>
 </div>
</html>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
.button1 {background-color: #4CAF50;} /* Green */
</style>
