/** 
(C) Wuviems On Github
MIT LICENSE
READ MORE AT: https://github.com/wuviems/wuviems/blob/main/LICENSE
**/

.text{
  text-align: center; 
}

.diText{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.diBtn{
  margin: 0;
  position: absolute;
  top: 120%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.diIya {
 	display: inline;
}

.cookiesDiv{
  --keliatan: white;
  --keliatanGa: inline;

  color: var(--keliatan);
  display: var(--keliatanGa);
}

body {
  --text: #000;
  
  --bg: #e6e6e6;

  font-family: "Inter", sans-serif;
  line-height: 1.7;
  background-image: var(--bg);
  height: 100%;
  margin: 0;
}
.dark {
  --text: #e6e6e6;

  --bg: #000;
}

.cookies{
  --keliatanGa: none;
}