/** 
(C) Nullname On Github

MIT LICENSE

READ MORE AT: https://github.com/nullnames/nullname/blob/main/LICENSE
**/

.text{
  text-align: center; 
}

.diText{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.diBtn{
  margin: 0;
  position: absolute;
  top: 120%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.diIya {
 	display: inline;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  background-color: rgb(20, 20, 20);
  height: 100%;
  margin: 0;
}

.dark {
  --text: #e6e6e6;

  --bg: #000;
}

h1, h2, h3, p {
  color: rgb(221, 221, 221)
}

a {
  color: rgb(0, 0, 0);
}

.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
.button1 {background-color: rgb(100, 167, 255);}