@charset "utf-8";
  .header{
    background-color: #D3D3D3;
    font-size: 25px;
    padding: 28px 32px;
    position: relative;
  }

  .uiPC{
    display: inline;
  }

  .home{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 69%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }
  .product{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 78%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }
  .contact{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 89%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }


body {
  --text: #e6e6e6;
  
  --bg: url(bg-light.png);

  font-family: "Inter", sans-serif;
  line-height: 1.7;
  background-image: var(--bg);
  height: 100%;
  margin: 0;
}
.dark {
  --text: #e6e6e6;

  --bg: url(bg-dark.png);

}





/* UI Handphone/Android/MiniMonitor/iOS */
.hamburger
{
	display: none;
	cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* responsive CSS */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

html { font-size:100%; }
img { max-width: 100%; }
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 

/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.hamburger
	{
		display: none;
	}
  .uiPC
  {
    display: inline;
  }
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{

}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.hamburger
	{
		display: inline;
	}
  .uiPC
  {
    display: none;
  }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{

}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
  a {
    font-size: 20px;
  }
	h2
	{
		font-size: 30px;
	}
	p
	{
		font-size: 13px;
	}
	.hamburger
	{
		display: inline;
	}
  .uiPC
  {
    display: none;
  }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{

}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{

}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{

}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}